@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #F9F9FA;
}

::-webkit-scrollbar-thumb {
  background: #C7C7C7;
  border: 3px solid #F9F9FA;
  border-radius: 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
}
